.delay-0 {
  transition-delay: 0s;
}

.delay-1 {
  transition-delay: 0.25s;
}

.delay-2 {
  transition-delay: 0.5s;
}

.delay-3 {
  transition-delay: 0.75s;
}

.delay-4 {
  transition-delay: 1s;
}

.delay-5 {
  transition-delay: 1.25s;
}

.delay-6 {
  transition-delay: 1.5s;
}

.delay-7 {
  transition-delay: 1.75s;
}

.delay-8 {
  transition-delay: 2s;
}

.delay-9 {
  transition-delay: 2.25s;
}

.delay-10 {
  transition-delay: 2.5s;
}

.delay-11 {
  transition-delay: 2.75s;
}

.delay-12 {
  transition-delay: 3s;
}

.delay-13 {
  transition-delay: 3.25s;
}

.delay-14 {
  transition-delay: 3.5s;
}

.delay-15 {
  transition-delay: 3.75s;
}

.delay-16 {
  transition-delay: 4s;
}

.delay-17 {
  transition-delay: 4.25s;
}

.delay-18 {
  transition-delay: 4.5s;
}

.delay-19 {
  transition-delay: 4.75s;
}

.delay-20 {
  transition-delay: 5s;
}

.delay-21 {
  transition-delay: 5.25s;
}

.delay-22 {
  transition-delay: 5.5s;
}

.delay-23 {
  transition-delay: 5.75s;
}

.delay-24 {
  transition-delay: 6s;
}

.delay-25 {
  transition-delay: 6.25s;
}

.delay-26 {
  transition-delay: 6.5s;
}

.delay-27 {
  transition-delay: 6.75s;
}

.delay-28 {
  transition-delay: 7s;
}

.delay-29 {
  transition-delay: 7.25s;
}

.delay-30 {
  transition-delay: 7.5s;
}

.delay-31 {
  transition-delay: 7.75s;
}

.delay-32 {
  transition-delay: 8s;
}

.delay-33 {
  transition-delay: 8.25s;
}

.delay-34 {
  transition-delay: 8.5s;
}

.delay-35 {
  transition-delay: 8.75s;
}

.delay-36 {
  transition-delay: 9s;
}

.delay-37 {
  transition-delay: 9.25s;
}

.delay-38 {
  transition-delay: 9.5s;
}

.delay-39 {
  transition-delay: 9.75s;
}

.delay-40 {
  transition-delay: 10s;
}

.delay-41 {
  transition-delay: 10.25s;
}

.delay-42 {
  transition-delay: 10.5s;
}

.delay-43 {
  transition-delay: 10.75s;
}

.delay-44 {
  transition-delay: 11s;
}

.delay-45 {
  transition-delay: 11.25s;
}

.delay-46 {
  transition-delay: 11.5s;
}

.delay-47 {
  transition-delay: 11.75s;
}

.delay-48 {
  transition-delay: 12s;
}

.delay-49 {
  transition-delay: 12.25s;
}

.delay-50 {
  transition-delay: 12.5s;
}

.delay-51 {
  transition-delay: 12.75s;
}

.delay-52 {
  transition-delay: 13s;
}

.delay-53 {
  transition-delay: 13.25s;
}

.delay-54 {
  transition-delay: 13.5s;
}

.delay-55 {
  transition-delay: 13.75s;
}

.delay-56 {
  transition-delay: 14s;
}

.delay-57 {
  transition-delay: 14.25s;
}

.delay-58 {
  transition-delay: 14.5s;
}

.delay-59 {
  transition-delay: 14.75s;
}

.delay-60 {
  transition-delay: 15s;
}

.delay-61 {
  transition-delay: 15.25s;
}

.delay-62 {
  transition-delay: 15.5s;
}

.delay-63 {
  transition-delay: 15.75s;
}

.delay-64 {
  transition-delay: 16s;
}

.delay-65 {
  transition-delay: 16.25s;
}

.delay-66 {
  transition-delay: 16.5s;
}

.delay-67 {
  transition-delay: 16.75s;
}

.delay-68 {
  transition-delay: 17s;
}

.delay-69 {
  transition-delay: 17.25s;
}

.delay-70 {
  transition-delay: 17.5s;
}

.delay-71 {
  transition-delay: 17.75s;
}

.delay-72 {
  transition-delay: 18s;
}

.delay-73 {
  transition-delay: 18.25s;
}

.delay-74 {
  transition-delay: 18.5s;
}

.delay-75 {
  transition-delay: 18.75s;
}

.delay-76 {
  transition-delay: 19s;
}

.delay-77 {
  transition-delay: 19.25s;
}

.delay-78 {
  transition-delay: 19.5s;
}

.delay-79 {
  transition-delay: 19.75s;
}

.delay-80 {
  transition-delay: 20s;
}

.delay-81 {
  transition-delay: 20.25s;
}

.delay-82 {
  transition-delay: 20.5s;
}

.delay-83 {
  transition-delay: 20.75s;
}

.delay-84 {
  transition-delay: 21s;
}

.delay-85 {
  transition-delay: 21.25s;
}

.delay-86 {
  transition-delay: 21.5s;
}

.delay-87 {
  transition-delay: 21.75s;
}

.delay-88 {
  transition-delay: 22s;
}

.delay-89 {
  transition-delay: 22.25s;
}

.delay-90 {
  transition-delay: 22.5s;
}

.delay-91 {
  transition-delay: 22.75s;
}

.delay-92 {
  transition-delay: 23s;
}

.delay-93 {
  transition-delay: 23.25s;
}

.delay-94 {
  transition-delay: 23.5s;
}

.delay-95 {
  transition-delay: 23.75s;
}

.delay-96 {
  transition-delay: 24s;
}

.delay-97 {
  transition-delay: 24.25s;
}

.delay-98 {
  transition-delay: 24.5s;
}

.delay-99 {
  transition-delay: 24.75s;
}

.delay-100 {
  transition-delay: 25s;
}


